<div class="flex items-center justify-center min-h-screen bg-slate-900">
  <div class="bg-slate-900 p-8 rounded-lg shadow-lg text-center">
      <h1 class="text-6xl text-slate-300 mb-4">Covid-19 Data</h1>
      <div class="text-lg space-y-4">
          <a href="https://github.com/11reed/covid19-data" class="text-slate-500 hover:text-red-500 transition duration-300">GitHub Repository</a>
      </div>
  </div>
</div>